@import url("https://use.typekit.net/qkg8hnu.css");


*{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body {
    background-color: #1291A2;
    color: white;
    font-family: 'Urbane',Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    min-width: 320px;
    padding-bottom: 5rem;
}
.noise{
    background-image: url(https://grainy-gradients.vercel.app/noise.svg);
    position:fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    filter: contrast(172%) brightness(90%);
    mix-blend-mode: multiply;
}



h1{
    font-family: "gelato-luxe", Georgia, 'Times New Roman', serif;
    text-shadow: 0.6rem 0.6rem 0.2rem rgba(0,0,0,0.3);
    text-shadow: 0.1rem 0.1rem 0.2rem #000,0.2rem 0.2rem 0 #1291A2, 0.3rem 0.3rem 0 #FFCF05, 0.5rem 0.5rem 0 #D91E0D, 1rem 1rem 2rem #000;;
    font-size: 6rem;
    padding: 3rem;
}

.display, input:not([type="range"]), select {
    font-family: input-mono, 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    background-color: black;
    color: #84FDFD;
    text-shadow: 0 0 1rem #84FDFD;
    margin: 1rem auto;
    width: 10rem;
    padding: 1rem 3rem;
    border: solid 0.3rem #fff;
    border-radius: 1rem;

}


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }




main>div{
    background-color: #552C1C;
    width: 90%;
    margin: 1rem auto;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 0 #1291A2, 1rem 1rem 0 #FFCF05, 1.5rem 1.5rem 0 #D91E0D, 2rem 2rem 2rem #000;
    padding: 3rem 0;
}

.colorLines{
    height: 1rem;
    width: 100%;
}
.blue{
    background-color: #1291A2;
}
.red{
    background-color: #D91E0D;
}
.yellow{
 background-color: #FFCF05;
}

main>div>div:last-of-type{
    padding: 3rem 3rem 2rem;
}
label{
    font-size: 2.1rem;
}


.label{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 40rem;
}



.container>.display:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem;
    min-height: 20rem;
    width: 100%;
    max-width: 50rem;
}


.container>.display:first-of-type p{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.display p:nth-of-type(3), .display p:nth-of-type(5), .display p:nth-of-type(7){
    border-top: solid 0.2rem #84FDFD;
    padding-top: 1rem;
}


.keyboard{
    display: flex;
    flex-flow: wrap;
    flex-direction: row-reverse;
    gap: 1.5rem;
    justify-content: center;
    max-width: 20rem;
    margin: 2rem auto;
}
.info-button{
    position: relative;
}
.info-button p{
    position: absolute;
    bottom: 4rem;
    right: 0;
    z-index: 10;
    background-color: rgba(255,255,255,0.9);
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
    color: #552C1C;
    width: 25rem;
}
.info-button p::before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid rgba(255,255,255,0.9);
    position: absolute;
    bottom: -0.9rem;
    right: 0.6rem;
}

.key{
    background-color: #FFCF05;
    border: solid 0.1rem #D91E0D;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0 #D91E0D;
    font-size: 1.6rem;
    color: #552C1C;
    width: 4rem;
    height: 4rem;
}

.key:active{

    background-color: #D91E0D;
    color: #FFCF05;
    box-shadow: 0.3rem 0.3rem 0 #FFCF05;

}

.key img{
    width: 1.5rem;
}


.info-button{
    border: none;
    background-color: transparent;
}
.info-button img{
    width: 2rem;
}

.dinners-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}
input{
    text-align: center;
}

#cost{
    text-align: end;
}

#cost, select{
    min-width: 100%;
}


#dinners{
    max-width: 10rem;
    margin: 1rem 0;
}

datalist{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    margin: 0 auto;
}

button:hover, input[type="range"]:hover{
    cursor: pointer;
}

input[type="range"]{
    margin: 0 auto;
}


button{
    font-family:"urbane",Arial, Helvetica, sans-serif;
}

fieldset{
    max-width: 40rem;
    border: none;
}

fieldset:nth-of-type(3) div+div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.hidden{
    display: none;
}


@media all and (min-width: 520px){
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }

    fieldset:first-of-type{
        grid-row: 1 /span 3;
    }


}

@media all and (min-width: 800px){
    main>div{
        box-shadow: 1rem 1rem 0 #1291A2, 2rem 2rem 0 #FFCF05, 3rem 3rem 0 #D91E0D, 4rem 4rem 2rem #000;
    }
    main>div{
        max-width: 140rem;
        margin: 1rem auto 5rem;
    }
    .container{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 2fr;
        /* justify-items: center; */
    }
    .display p:nth-of-type(3), .display p:nth-of-type(5), .display p:nth-of-type(7){
        padding-top: 1.9rem;
    }
    form{
        justify-items: center;
        gap: 0;
    }
    fieldset:first-of-type{
        max-width: 30rem;
    }
    fieldset:not(:first-of-type){
        width: 100%;
    }
    
}

